@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

::-webkit-scrollbar {
  display: none; 
}


body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height:screen;
  weight:screen;
}


.inter{
  font-family: var(--font-inter)
}
.playfair_display{
  font-family: var(--font-playfair_display)
}
.cabin{
  font-family: var(--font-cabin)
}